[mysqld]

#####################
#   user settings   #
#####################
user = mysql

########################
#   network settings   #
########################
port = {{ mysql_port | default(3306) }}
skip-name-resolve
skip-external-locking
skip-host-cache

#######################
#   engine settings   #
#######################
default-storage-engine = innodb
innodb_file_per_table = 1
innodb_file_format = Barracuda

innodb_flush_method = O_DIRECT
innodb_adaptive_flushing = 1
innodb_flush_neighbors = 0

innodb_flush_log_at_trx_commit = 1
innodb_support_xa = ON
innodb_thread_concurrency = 0

innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup = 1

##########################
#   character settings   #
##########################
character-set-server = utf8
collation-server = utf8_general_ci
init_connect="SET collation_connection=utf8_general_ci"
init_connect="SET NAMES utf8"

##########################
#   directory settings   #
##########################

{% if mysql_instance_name is defined %}
socket =  /var/lib/mysql/{{ mysql_instance_name }}/mysql.sock
datadir = /var/lib/mysql/{{ mysql_instance_name }}/data
tmpdir = /var/lib/mysql/{{ mysql_instance_name }}/tmp
{% else %}
socket =  /var/lib/mysql/mysql.sock
datadir = /var/lib/mysql/data
tmpdir = /var/lib/mysql/tmp
{% endif %}

lc-messages-dir = /usr/share/percona-server
symbolic-links = 0

####################
#   log settings   #
####################
log_error = /var/log/mysql/error.log
innodb_print_all_deadlocks = 1

slow_query_log = 1
log_output = TABLE,FILE
slow_query_log_file = /var/log/mysql/slow.log

long-query-time = {{ mysql_long_query_time | default(10) }}
{% if mysql_log_queries_not_using_indexes is defined %}
log-queries-not-using-indexes = {{ mysql_log_queries_not_using_indexes }}
log-throttle-queries-not-using-indexes = {{ mysql_log_throttle_queries_not_using_indexes | default(60) }}
{% else %}
log-queries-not-using-indexes = OFF
log-throttle-queries-not-using-indexes = {{ mysql_log_throttle_queries_not_using_indexes | default(60) }}
{% endif %}

#########################################
#   binary log & replication settings   #
#########################################

{% if mysql_instance_name is defined %}
log-bin=/var/lib/mysql/{{ mysql_instance_name }}/binlog/mysql-bin
log-bin-index = /var/lib/mysql/{{ mysql_instance_name }}/binlog/mysql-bin.index
{% else %}
log-bin=/var/lib/mysql/binlog/mysql-bin
log-bin-index = /var/lib/mysql/binlog/mysql-bin.index
{% endif %}

binlog_format=mixed

expire_logs_days = {{ mysql_expire_log_days | default(7) }}
server-id = {{ mysql_server_id | default(1001) }}
report-host = {{ ansible_fqdn }}

log_slave_updates = 1
gtid-mode = 0
master_info_repository = TABLE
binlog_checksum = CRC32
master_verify_checksum = 1
sync_binlog = 1

# semi sync replication
plugin-load=rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so
rpl_semi_sync_master_enabled=1
rpl_semi_sync_slave_enabled=1

######################
#   slave settings   #
######################
{% if mysql_role == "slave" or mysql_role == "backup" %}
read_only
{% if mysql_instance_name is defined %}
relay-log = /var/lib/mysql/{{ mysql_instance_name }}/relaylog/mysql-relay-bin
relay-log-index = /var/lib/mysql/{{ mysql_instance_name }}/relaylog/mysql-relay-bin.index
{% else %}
relay-log = /var/lib/mysql/relaylog/mysql-relay-bin
relay-log-index = /var/lib/mysql/relaylog/mysql-relay-bin.index
{% endif %}
relay-log-info-repository = TABLE
relay_log_recovery = 1

{% if mysql_replication_do_db is defined %}
{% for db in mysql_replication_do_db | unique %}
replicate-do-db = {{ db }}
{% endfor %}
{% endif %}

skip_slave_start = 1
slave_max_allowed_packet = 32M
slave-sql-verify-checksum = 1
slave_load_tmpdir = /var/lib/mysql/tmp

{% else %}
;read_only
{% if mysql_instance_name is defined %}
;relay-log = /var/lib/mysql/{{ mysql_instance_name }}/relaylog/mysql-relay-bin
;relay-log-index = /var/lib/mysql/{{ mysql_instance_name }}/relaylog/mysql-relay-bin.index
{% else %}
;relay-log = /var/lib/mysql/relaylog/mysql-relay-bin
;relay-log-index = /var/lib/mysql/relaylog/mysql-relay-bin.index
{% endif %}
;relay-log-info-repository = TABLE
;relay_log_recovery = 1

{% if mysql_replication_do_db is defined %}
{% for db in mysql_replication_do_db | unique %}
;replicate-do-db = {{ db }}
{% endfor %}
{% endif %}

;skip_slave_start = 1
;slave_max_allowed_packet = 32M
;slave-sql-verify-checksum = 1
;slave_load_tmpdir = /var/lib/mysql/tmp
{% endif %}

###########################
#   functional settings   #
###########################
# 1->use 0->do not use
performance_schema = {{ mysql_use_performance_schema | default(1) }}

###############################################
#   performance settings(query/transaction)   #
###############################################
table_open_cache_instances = 16
# 1-> use, 0 -> do not use, default 0
query_cache_type = 0
# 1-> use, 0 -> do not use, default 0
query_cache_size = 0
# autocommit depends on application.
autocommit = {{ mysql_autocommit }}
# transaction-isolation depends on application.
transaction-isolation = {{ mysql_transaction_isolation }}

#####################################
#   performance settings(network)   #
#####################################
max_connections = {{ mysql_max_connections }}

# thread_cache_size became autosize after 5.6.8
; thread_cache_size = 8 + (max_connections / 100)

# table_open_cache became autosize after 5.6.12
; table_open_cache =

# open_files_limit is autosize after 5.6.8
; open_files_limit = 

# back_log became autosize. you must gain up net.core.somaxconn.
; back_log = 50 + max_connections/5

wait_timeout = {{ mysql_wait_timeout }}
interactive_timeout = {{ mysql_interactive_timeout }}
max_allowed_packet = 32M

###########################################
#   performance settings(Memory engine)   #
###########################################
max_heap_table_size = 512M
tmp_table_size = 256M

####################################
#   performance settings(Thread)   #
####################################
sort_buffer_size = 1M
join_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 1M
thread_stack = 256K

####################################
#   performance settings(InnoDB)   #
####################################
innodb_buffer_pool_size = {{ ansible_memtotal_mb * 600 * 1000 }}
innodb_log_buffer_size = {{ mysql_innodb_log_buffer_size | default("64M") }}

# innodb log size = innodb_log_file_size x innodb_log_files_in_group
# innodb_log_file_size = Log sequence number -  Max(Last checkpoint at)
innodb_log_file_size = {{ mysql_innodb_log_file_size | default("256M") }}
innodb_log_files_in_group = 2

# innodb_open_files became autosize
; innodb_open_files = 

innodb_io_capacity = {{ mysql_innodb_io_capacity | default(10000) }}

innodb_purge_threads = {{ ansible_processor_vcpus }}
innodb-read-io-threads = {{ ansible_processor_vcpus * 2 }}
innodb-write-io-threads = {{ ansible_processor_vcpus * 2 }}
innodb-buffer-pool-instances = {{ ansible_processor_vcpus * 2 }}

####################################
#   performance settings(MyISAM)   #
####################################
# default 64M
key_buffer_size = {{ mysql_key_buffer_size | default("64M") }}
# default 8M
myisam_sort_buffer_size = {{ mysql_myisam_sort_buffer_size | default("8M") }}
# table_open_cache became autosize after 5.6.12
;table_open_cache =
; open_files_limit is autosize after 5.6.8


#####################################
#   performance settings(Percona)   #
#####################################
thread_pool_size = 64
thread_handling=pool-of-threads
# innodb_log_block_size = filesystem blocksize
innodb_log_block_size = {{ percona_innodb_log_block_size | default(4096) }}

# default
thread_pool_idle_timeout = {{ percona_thread_pool_idle_timeout | default(60) }}

# default
thread_pool_max_threads = {{ percona_thread_pool_max_threads | default(100000) }}

######################
#   Other Settings   #
######################
[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# enable numa only physical server
{% if ansible_virtualization_role is not defined %}
numa-interleave = 1
flush-caches = 1
{% else %}
numa-interleave = 0
flush-caches = 0
{% endif %}

[client]
{% if mysql_instance_name is defined %}
socket = /var/lib/mysql/{{ mysql_instance_name }}/mysql.sock
{% else %}
socket = /var/lib/mysql/mysql.sock
{% endif %}

[mysqldump]
quick
max_allowed_packet = 32M
default-character-set = utf8

[mysql]
no-auto-rehash
default-character-set = utf8
