# Required Configuration
tickTime=2000
dataDir=/var/zookeeper
clientPort=2181

# Advanced Configuration
maxClientCnxns=60
globalOutstandingLimit=1000
preAllocSize=65536
snapCount=100000
minSessionTimeout=4000
maxSessionTimeout=40000
fsync.warningthresholdms=1000
autopurge.snapRetainCount=3
autopurge.purgeInterval=1
syncEnabled=true

# Cluster Configuration
electionAlg=3
initLimit=10
leaderServes=yes
syncLimit=5
cnxTimeout=5

# Server Information
# ex)server.1=evozkper001:2888:3888
{% for item in zookeeper_servers %}
server.{{ loop.index }}={{ item }}:2888:3888
{% endfor %}

